In [4]:
# import module
import pandas as pd
import numpy as np
import re

In [5]:
!gdown --id 1OjS92lR6qMUnZysccXKg3v5Q1yOsK3Y- #data Hatespeech Tambahan
!gdown --id 1Y4xBp6ZUN0PFjGtAmMi_QWJccPV1AHH1 #data Hoax
!gdown --id 1RndPNl3PBbIuZkLs8N1NybcT72PqY6uB #data Normal
!gdown --id 1uhhzN2yFKyYqDy4Yi2pDSjvOw_0w_ELs #Data offensive

Downloading...
From: https://drive.google.com/uc?id=1OjS92lR6qMUnZysccXKg3v5Q1yOsK3Y-
To: /content/DataHateSpeech Telah Ditambah.csv
100% 264k/264k [00:00<00:00, 106MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Y4xBp6ZUN0PFjGtAmMi_QWJccPV1AHH1
To: /content/datasetHoax.csv
2.40MB [00:00, 159MB/s]
Downloading...
From: https://drive.google.com/uc?id=1RndPNl3PBbIuZkLs8N1NybcT72PqY6uB
To: /content/normal.csv
100% 897k/897k [00:00<00:00, 106MB/s]
Downloading...
From: https://drive.google.com/uc?id=1uhhzN2yFKyYqDy4Yi2pDSjvOw_0w_ELs
To: /content/Offensive.csv
100% 164k/164k [00:00<00:00, 56.8MB/s]

Pengubahan label

## Normal : 0
## Hoax : 1
## Hate : 2
## Offensive : 3

In [6]:
dfHateSpeechtambahan = pd.read_csv("DataHateSpeech Telah Ditambah.csv")
dfHoax = pd.read_csv("datasetHoax.csv")
dfOffensive = pd.read_csv("Offensive.csv")
dfNormal = pd.read_csv("normal.csv")

print(dfHateSpeechtambahan.shape)
print(dfHoax.shape)
print(dfOffensive.shape)
print(dfNormal.shape)

(2983, 1)
(9660, 3)
(1791, 1)
(9055, 1)

In [7]:
offen = [ 425,491,407,408,399,387,363,356,350,305,301,295,287,284,279,265,256,219,186,185,162,
          160,155,131,116,113,109,64,1,2,7,20,24,31,36,39,491,407,408,399,387,363,356,350,305,301,
          295,287,284,279,265,256,219,186,185,162,160,155,131,116,113,109,
          64,507,528,533,542,556,626,668,669,670,695,717,748,759,780,807,
          810,833,835,848,849,859,877,913,930,984,998,1003,1006,1014,
          1044,1046,1063,1146,1149,1162,1158, 1186,1128,1243,1256,1287,1319,
          1326,1335]

Delete = [499,498 ,497, 493, 492,486,477,476,474,454,453,448,441,440, 411,406,403,395,392,389,368,341,
          329,314,297,282,274,269,242,233,231,220,205,194,191,189,178,173,169,168,166,165,152,147,137,126,127,
          105,104,78,76,58,0 , 4, 6,8,10,14,15,16,17,18,19,40,47,
          502,510,513,522,527,541,543,561,562,572,589,591,592,605,622,624,
          629,636,650,660,680,688,701,708,724,739,769,784,782,793,808,828,
          912,949,972,993,1002,1018,1049,1043,1170,1183,1220,1253,1288,1289,
          1308,1331,1328,1334,1347,1364,1383,1454]

In [8]:
drop = np.array([466 ,468 ,476 ,	769 ,533 ,562 ,793 ,982 ,1095 ,1101 ,1041 ,1221 ,  1026 , 989 , 937 ,957 ,1313 ,1328 ,1421 ,1383 ,980
        ,972 ,954 ,834 ,927 ,840 ,828 ,816 ,575 ,788 ,737 ,708 ,534 ,582 ,  557 ,461 ,520 ,543 ,477 ,508 ,478 ,510 ,	454
        ,	255 ,383 ,414 ,390 ,392 ,376 ,391 , 361 ,442 ,448 ,384 , 364 , 302 , 169 ,207 ,187 ,0,159 ,7,173 ,15,162 ,16,17
        ,147 ,172 ,77,155 ,118 ,157 ,78,104,106,109,110 ,127 , 119 ,116 ,115 , 112 ,127 ,111 ]) + 1460

offensive=np.array([169 ,411 ,64,145 ,158 ,758 ,541 ,807 ,912 ,1265 ,757 ,605 ,399 ,1288 , 1220 ,502 ,1130 ,1334 ,1454 ,76]) + 1460

Delete = np.concatenate([Delete,drop])

In [9]:
DataInvalid = [4,8,9,12,16,28,95,102,109,110,111,112,131,152,177,194,202,224,228,255,258,285,322,
               345,392,435,453,605,681,860,1058,1080,1102,1110,1237,1310,1312,1472,1478,1511,1696,1712]
HateSpeech = [0,1,15,1554]

In [10]:
dfHateSpeechtambahan["labels"] = 2
dfHateSpeechtambahan.loc[offen,"labels"] = 3
dfHateSpeechtambahan.loc[offensive,"labels"] = 3

In [11]:
dfHateSpeechtambahan = dfHateSpeechtambahan.drop(index=Delete)

In [12]:
dfOffensive["labels"] = 3
dfOffensive.loc[HateSpeech] = 2
dfOffensive = dfOffensive.drop(index=DataInvalid)

In [13]:
dfNormal["labels"]= 0

In [14]:
dfHoaxNormal = dfHoax.loc[dfHoax["label"] == 0,:]
dfHoax = dfHoax.loc[dfHoax["label"] == 1, :]

print(dfHoaxNormal.shape)
print(dfHoax.shape)

(1471, 3)
(8189, 3)

In [15]:
dfHoaxNormal = dfHoaxNormal.iloc[:,[0,2]]
dfHoax = dfHoax.iloc[:,[0,2]]
print(dfHoaxNormal.shape)
print(dfHoax.shape)

(1471, 2)
(8189, 2)

In [16]:
dfHoax = dfHoax.loc[:,["narasi","label"]]
dfHoaxNormal = dfHoaxNormal.iloc[: , :]
dfHoaxNormal.head(1)

                                               narasi  label
19  astaga sandiaga sarankan warga mengadu ke kelu...      0

In [17]:
dfHateSpeechtambahan.columns = ["tweet","labels"]
dfOffensive.columns =["tweet","labels"]
dfNormal.columns = ["tweet","labels"]
dfHoax.columns =["tweet","labels"]
dfHoaxNormal.columns = ["tweet","labels"]

In [18]:
dfAllData = pd.DataFrame(columns= ["tweet","labels"])
dfAllData = pd.concat([dfAllData,dfOffensive,dfHateSpeechtambahan,dfHoax,dfHoaxNormal,dfNormal])
dfAllData

                                                  tweet labels
0                                                     2      2
1                                                     2      2
2                             aku mau ngentot sama kamu      3
3     manusia kampret bernama syahroni daud ini akhi...      3
5     ada akun ketepu jutantp biarlah itu akun kapir...      3
...                                                 ...    ...
9050  username sudah mengikuti mereka dari mereka de...      0
9051  iya juga satu gerbong sama semuanya mulut mere...      0
9052  selesai infus di rumah sakit langsung konferen...      0
9053  kalau kamu ajak saya pun memang saya tidak mau...      0
9054  lebih baik disuruh makan tali kopling apa dapa...      0

[23244 rows x 2 columns]

In [19]:
dfAllData[dfAllData["tweet"].isin([0,1,2,3,4,5,6,7,8,9])]

     tweet labels
0        2      2
1        2      2
15       2      2
1554     2      2

In [20]:
dfAllData = dfAllData.drop(index = [0,1,15,1554])

In [21]:
dfAllData.to_csv("AllData.csv",index=True)