In [1]:
import pandas as pd
import numpy as np

import os

In [3]:
df = pd.read_csv("Emotion.csv")
df.head()

   label                                              tweet
0  anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1  anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2  happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3  anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4  happy  Sharing pengalaman aja, kemarin jam 18.00 bata...

In [6]:
df["label"].unique()

anger = df[df["label"] == "anger"].loc[:,"tweet"]
fear  = df[df["label"] == "fear"].loc[:,"tweet"]
sad = df[df["label"] == "sadness"].loc[:,"tweet"]

print(len(anger),
     len(fear),
     len(sad))

1101 649 997